
<div>
    <ul id="slider">
        @foreach (var image in Model)
        {
            <li><img src="@Url.Content(image.ImagePath)" /></li>
        }
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('#slider').bxSlider({
            adaptiveHeight: true,
            mode: 'fade'
        });
        $('.bx-wrapper').width('70%');
    });

</script>