@model MVC_Website.Models.PhotoGallery

@{
    ViewBag.Title = "Photo Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Scripts/jquery.fancybox-buttons.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/jquery.fancybox-thumbs.js"></script>
    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
</head>

<style type="text/css">
    .imgBox {
        width: 200px;
        height: 200px;
        opacity: 1.0;
        filter: alpha(opacity=100);
    }

        .imgBox:hover {
            -moz-box-shadow: 0 0 10px #ccc;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
            opacity: 0.4;
            filter: alpha(opacity=40);
        }
</style>

<div  style="height: 600px;">
    @if(1 != 1){ 
    <p>
        <a class="photoGallery btn btn-primary" data-fancybox-type="iframe"
           href="@Url.Action("UploadImage", "PhotoGalleries")">Upload New Image</a>
    </p>
    }
    <div style="border-bottom:1px solid Red;"></div>

    @if (Model.PhotoList.Count > 0)
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="item">
                    @foreach (var photo in Model.PhotoList)
                    {
                        <div style=" margin:10px; float:left; height: 200px;
                         overflow:hidden; width: 200px;">
                            <a id="ShowPhoto" class="fancybox-button" 
                               data-rel="fancybox-button" title="Photo" href="@Url.Content("~/Content/photos/" + photo)">
                                <div class="zoom">
                                    <img src="@Url.Content("~/Content/photos/" + photo)" class="imgBox" />
                                    <div class="zoom-icon"></div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    jQuery(function ($) {

        $('.photoGallery').fancybox({
            
            fitToView: false,
            width: '400px',
            height: '300px',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            padding: 0,
            closeBtn: false,
            'afterClose': function () {
                window.location.reload();
            },
             
        });

      $("#ShowPhoto").fancybox({
          helpers:
          {
              overlay:
                  {
                   
                    css: { 'background': 'rgba(0, 0, 0, 0.85)' } // or your preferred hex color value
                  },
              title:
                   {
                    type: 'float'
                   }
          }
      });

      $("a[rel='image_group']").fancybox({ type: "image" });
    });
</script>