@{
    ViewBag.Title = "Allan Cope";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<address>
    William Allan Cope
    7747 Crooked Road St.<br />
    San Antonio, TX 78254<br />
    <abbr title="Phone">P:</abbr>
    (210)723-6587
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:williamacope@gmail.com">WilliamACope@gmail.com</a><br />
    <strong>GitHub:</strong>  <a href="https://github.com/wcope80">WCope80</a><br />
</address>

<a class="btn btn-small btn-primary" href="@Url.Action("SendMessage","Home")">Send Message <i class="glyphicon glyphicon-send white"></i></a>