@model MVC_Website.Models.Message

@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SendMessage", "Home", FormMethod.Post))
{
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>New Message</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="textinput">Name: </label>
            <div class="controls">
                @Html.EditorFor(m => m.Name)
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="textinput">Email: </label>
            <div class="controls">
                @Html.EditorFor(m => m.Email)
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="textinput">Subject: </label>
            <div class="controls">
                @Html.EditorFor(m => m.Subject)
            </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" for="textarea">Mesage: </label>
            <div class="controls">
                @Html.TextAreaFor(m => m.Text, new { @class = "multi-line, span4", @rows = 8 })
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <br />
                <button type="Submit" id="btnSubmitMsg" name="Submit"  class="btn btn-small btn-info">
                    <i class="icon icon-ok-sign icon-white"></i> Submit
                </button>
            </div>
        </div>
    </fieldset>
</form>
}

