
@{
    ViewBag.Title = "MaxAttemptInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-inline">
    <fieldset>
       <br />
        <!-- Form Name -->
        <legend>Max Attempt Input</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txt_Exercise">Exercise</label>
            <div class="controls">
                <input id="txt_Exercise" name="txt_Exercise" type="text" placeholder="" class="input-medium" required="">
                <p class="help-block">Enter Exercise</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txt_Weight">Weight:</label>
            <div class="controls">
                <input id="txt_Weight" name="txt_Weight" type="text" placeholder="" class="input-small">
                <p class="help-block">Enter weight.</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txt_Reps">Reps</label>
            <div class="controls">
                <input id="txt_Reps" name="txt_Reps" type="text" placeholder="" class="input-small">
                <p class="help-block">Enter reps.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txt_Date">Date</label>
            <div class="controls">
                <input id="txt_Date" name="txt_Date" type="text" placeholder="" class="input-small">
                <p class="help-block">Enter Date.</p>
            </div>
        </div>
        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="btn_Submit"></label>
            <div class="controls">
                <button id="btn_Submit" name="btn_Submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </fieldset>
</form>


