@model MVC_Website.Models.MaxAttempt

@{
    ViewBag.Title = "MaxAttemptInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("MaxAttemptInput", "Fitness", FormMethod.Post))
{
<form class="form-inline">
    <fieldset>
       <!-- Form Name -->
        <legend>Max Attempt Input</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txt_Exercise">Exercise</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.Exercise, (SelectList)ViewBag.exerciseList, "Select")
                <p class="help-block">Select Exercise</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txt_Weight">Weight:</label>
            <div class="controls">
                @Html.EditorFor(m => m.Weight)
                <p class="help-block">Enter weight.</p>
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txt_Reps">Reps</label>
            <div class="controls">
                @Html.EditorFor(m => m.Reps)
                <p class="help-block">Enter reps.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txt_Date">Date</label>
            <div class="controls">
                @Html.EditorFor(m => m.MaxDate)
                <p class="help-block">Enter Date.</p>
            </div>
        </div>
        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="btn_Submit"></label>
            <div class="controls">
                <button id="btn_Submit" name="btn_Submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </fieldset>
</form>
}


